body{
    background-image: url("../images/background.PNG");
    background-repeat: repeat;
}

#topborder{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#topheading{
    width: 960px;
    background-color: #ffffff;
    margin: auto;
    position: relative;
    vertical-align: middle;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#line{
    border-bottom: 2px solid #cccccc;
    width: 910px;
    margin: auto;
}

#content{
    width: 910px;
    margin: 15px auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

.headshot{
    padding: 5px 10px 0px 0px;
}

header{
    width: 230px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 20px 0px 20px;
    background:#4aaaa5;
    color: #F8F8FF;
}
.title{
    margin-top: 18px;
}
nav{
    width: 220px;
    vertical-align: middle;
    text-align: center;
    padding: 0px 10px 0px 10px;
    color:#777777;
    margin: 27px 0px 0px 0px;
}

#aboutme{
    width: 960px;
    padding: 20px 25px;
    background-color: #ffffff;
    margin: 20px auto;
    font-size: 12;
    line-height: 1.5;
    border: 1.5px solid #dddddd;
}

#subheading{
    width: 200px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 18px;
}

a:link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
  }
  a:visited {text-decoration: none; color: #777777;}
  a:hover {text-decoration: none;   color:#4aaaa5;}
  a:active {text-decoration: none; color:#4aaaa5;}

#left{ float: left; }  #right{ float: right;}

p{
    color: #777777;
}

/* Container holding the image and the text */
.container {
    position: relative;
    width: 250px;
    margin: 10px 10px;
  }
/* Portfolio Label Text Block */
  .plabel {
    position: absolute;
    margin: 0px auto;
    bottom: 20px;
    text-align: center;
    background-color: #4aaaa5;
    color: #F8F8FF;
    padding: 10px 20px 0px 20px;
    height: 40px;
    width: 250px;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

footer {
    margin-top: 80px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 65px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 9pt;
    color: #cccccc;
    padding-top: 30px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
/* Active States for Button - Much Styles*/

.button {
    border-radius: 0px;
    border: 0;
    width: 110px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    color: #F8F8FF;
}
.button:hover {
    background: #F8F8FF;
    color: #4aaaa5;
    border: 0.5px solid #4aaaa5;
}

.button:active::after {
    transition: 1ms;}

  /* raw materials from easy HW for reference, please ignore

  
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font: Arial;
    color: #777;
    background: #777;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
}
.wide{
    background: #ebebeb;
    padding: 25px 0px;
    margin: 10px auto;   
    width: 960px;
    font-size: 18px;
}

#wrapper{
    margin: 10px auto;   
    width: 960px;
}

section{
    float: left;
    text-align: center;   
    background: #ebebeb;
    width: 495px;
    margin: 10px auto;
    padding: 30px auto 30px auto;
    padding-top: 30px;
}

aside{
    background: #ebebeb;
    font-size: 18px;
    float: right;
    width: 400px;
    height: 212.5px;
    margin: 10px auto;
    padding: 20px;
}

article{
    color: #ebebeb;
    background: #777;
    margin: 20px;
    padding: 20px 10px;
    padding-bottom: 10px;
}

.inside{
    background-color: #ebebeb;
    font-size: 18px;
    color: #777;
    margin: 10px;
    padding: 10px 0px;
}

footer {
    background: #ebebeb;
    padding: 25px 0px;
    margin: 10px auto;   
    width: 960px;
  }

.clearfix::after{
    content: "";
    display: block;
    clear: both;
  } */
